@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(180deg, var(--soft-violet), var(--soft-blue));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
}

.container{
    max-width: 1000px;
    background: #fff url(images/bg-pattern-desktop.svg) no-repeat;
    background-position: -550px -290px;
    display: grid;
    grid-template-columns: 450px 1fr;
    gap: 3rem;
    border-radius: 20px;
    position: relative;
}

.img-col{
    position: relative;
    overflow: hidden;
}

.woman-desktop{
    position: absolute;
    top: 50px;
    left: -65px;
}

.woman-mobile{
    display: none;
}

.box{
    position: absolute;
    bottom: 220px;
    left: -180px;
    transform: translate(50%,50%);
}

.text-col{
    padding: 4rem 6rem 4rem 0;
    max-width: 550px;
}

.title{
    margin-bottom: 2rem;
}

.question-answer-section{
    max-width:380px;
    padding: 1rem 0;
    border-bottom: 1px solid var(--light-grayish-blue);
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question p{
    color: var(--very-dark-grayish-blue);
    font-size: 0.88rem;
}

.question p:hover,
.question p:active{
    color: var(--soft-red);
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease;
}

.answer p{
    color: var(--dark-grayish-blue);
    font-size: 0.8rem;
    margin-top: 0.6rem;
}

.question-answer-section.active .question p{
    font-weight: 700;
}

.question-answer-section.active .answer{
    max-height: 300px;
    animation: fade 0.5s ease-in-out;
}

.question-answer-section.active img{
    transform: rotate(180deg);
}

.arrow-icon{
    transition: transform 0.4s ease-in;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    color: var(--light-grayish-blue);
    margin-top: 1rem;
}

.attribution a { 
    color: var(--light-grayish-blue);
}

@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}



@media only screen and (max-width: 900px){

    body{
        padding: 10rem 0.8rem;
    }

    .container{
        background: #fff url(images/bg-pattern-mobile.svg) no-repeat;
        background-position: 50% 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr;
        gap: 2rem;
        border-radius: 20px;
        position: relative;
    }

    .img-col{
        position: relative;
        overflow: visible;
    }

    .woman-desktop{
        display: none;
    }

    .woman-mobile{
        display: block;
        position: absolute;
        top: -110px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 250px;
        width: 100%;
    }

    .box{
        display: none;
    }

    .text-col{
        padding: 2rem;
        max-width: 550px;
    }

    .title{
        margin-bottom: 1.5rem;
        text-align: center;
    }
}